doctype html
html(lang="pt-BR")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title || 'Planejador de Caminhos'
    // Link para o CSS na pasta public
    link(rel="stylesheet", href="/css/style.css")
  body
    // 'block content' é onde as páginas irão injetar o seu conteúdo.
    block content